<!DOCTYPE html>
<html lang="lt" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragments/head :: head('Ziniumanas - Naujienos')}"></th:block>

<body class="d-flex flex-column min-vh-100 overflow-hidden">

<!-- HEADER fragmentas -->
<header class="bg-light border-bottom position-fixed top-0 w-100 z-3">
    <th:block th:replace="~{fragments/header :: header}"></th:block>
</header>

<!-- TURINYS -->
<main class="container overflow-auto px-3"
      style="margin-top: 100px; padding-bottom: 100px; max-height: calc(100vh - 165px); z-index: 4;">
    <div class="row">
        <div class="col-md-8">
            <div th:each="article : ${articles}">
                <article class="mb-4">
                    <div class="text-muted small mb-1" th:text="${article.articleDate}">2025-04-26</div>
                    <div class="mb-4">
                        <span class="badge bg-secondary" th:text="${article.newsSource.sourceName}">Šaltinis</span>
                    </div>
                    <h2>
                        <a th:href="@{/straipsnis/{id}(id=${article.id})}"
                           th:text="${article.articleName}"
                           class="text-dark text-decoration-none">Straipsnio pavadinimas</a>
                    </h2>
                    <div th:utext="'<p>' + ${#strings.replace(#strings.abbreviate(article.contents, 300), '---', '</p><p>')} + '</p>'"></div>
                    <a th:href="@{/straipsnis/{id}(id=${article.id})}" class="btn btn-sm btn-primary">Skaityti daugiau</a>
                </article>
            </div>
        </div>

        <aside class="col-md-4">

        </aside>
    </div>
</main>

<!-- FOOTER fragmentas -->
<footer class="bg-light border-top position-fixed bottom-0 w-100 z-3">
    <th:block th:replace="~{fragments/footer :: footer}"></th:block>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>